.input {
    width: 100%;
    padding: 5px 10px;
    border: 2px solid green;
    border-radius: 10px;
    margin-bottom: 10px;
}

.input[type="password"] {
    color: red;
}

.input-moderno {
    border: none;
    border-bottom: 1px solid #e0dcdc;
    outline: none;
    padding: 5px;
    color: gray;
}

.input-moderno::placeholder{
    color: #e0dcdc;
}

.input-moderno:focus {
    border-bottom: 1px solid gray
}

.input-background {
    background-color: aquamarine;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    outline: none;
    color: white;
    box-shadow: 0 0 10px #ccc;
}

.input-background::placeholder {
    color: #ccc;

}

.input-search {
    padding: 10px;
    padding-left: 35px;
    /* border: none; */
    background-color: white;
    border-radius: 8px;
    margin: 10px;
    background-image: url(../img/searchicon.png);
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: 5px;
}

textarea {
    resize: none;
}

select {
    width: 100%;
    padding: 15px;
    background-color: #ccc;
}
