* {
    padding: 0;
    margin: 0;
}

body {
    font-size: 2rem;
    display: flex;
    background-color: whitesmoke ;
}

.container {
    display: flex;
    background-color: blue;
}

.barra-izq {
    background-color: aquamarine;
    padding: 1rem;
    gap: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.elemento {
    padding: 1rem;
    /* background-color: beige; */
    display: flex;
    width: max-content;
}

.seccion-principal {
    padding: 1rem;
    background-color: #96e2c9;
    flex-grow: 1;
}

@media (min-width:640px) {
    .container {
        flex-direction: column-reverse;
    }
    .barra-izq {
        flex-direction: row;
    }
}