/* em -> hace referencia al tamaño de fuente de su contenedor. Es relativo al padre donde esta contenido.
    rem -> hace referencia al tamaño de fuebnte de la raíz. Es decir, en referencia a la fuente que esta definida.
*/

.escenario {
	border: 1px solid #333;
	padding: 10px;
}

.escenario-1 {
	font-size: 32px;
}

.escenario-2 {
	font-size: 16px;
}

.em {
	font-size: 2em;
}

.rem {
	font-size: 2rem;
}
